/* General Styles */
body {
    margin: 0;
    background-color: black;
    font-family: 'Sora', sans-serif;
    color: white;
}

/* Navbar Styling */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-left: 100px; 
    margin-right: 100px;
}

.left-nav .nav-item {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.right-nav {
    display: flex;
    gap: 30px;
}

.right-nav .nav-item {
    font-weight: 600;
    font-size: 16px;
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.right-nav .nav-item:hover {
    color: gray;
}

/* Contact Section */
.contacts-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.section-title {
    font-size: 36px;
    font-weight: 800;
    text-align: left; 
    color:white;
    margin-bottom: 20px;
    margin-left: -2px; 
}

/* Form Styling */
.contact-form {
    display: flex;
    flex-direction: column;
    width: 40%; 
    border: 2px solid transparent;
    border-radius: 15px;
    padding: 20px;
    background: linear-gradient(#27272A, #27272A) padding-box, 
    linear-gradient(90deg, #F4426C, #FBF2B1) border-box;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 544px;
}

label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    border: 2px solid #FFC371;
    border-radius: 10px;
    padding: 10px;
    font-size: 14px;
    background-color: black;
    color: white;
    outline: none;
}

input::placeholder, textarea::placeholder {
    color: white;
    font-size: 14px;
}

button.submit-button {
    align-self: center;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 20px;
    border-radius: 7px;
    border: 2px solid transparent;
    background: linear-gradient(black, black) padding-box,
                linear-gradient(90deg, #FFC371, #FF5F6D) border-box;
    color: white;
    cursor: pointer;
    transition: transform 0.2s;
}

button.submit-button:hover {
    transform: scale(1.05);
}
